#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(39, 41, 37, 0.64);
}

#loading > span {
    display: inline-block;
    color: #fff;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 45%;
}

table.dataTable {
    table-layout: fixed;
    word-wrap: break-word;
}